fastqcReports
multiQCreports
pb_279_filtered_subreads.fastq.gz
pb_320-2_filtered_subreads.fastq.gz
racon
genome_assemblies
unzipped
flyeAssembly
miniasmAssembly
ravenAssembly
kmerfreq
nohup.out
OriginalAssemblies
pb_320-2_baxh5.txt
pb_279_baxh5.txt
pb_320-2_raw
pb_279_raw
pb_279_filtered_subreads.fasta
pb_320-2_filtered_subreads.fasta
bamfiles
pb-assembly/*
!pb-assembly/mycfgs
!pb-assembly/integrated*.sh
test1.sh
