
fastqcReports
multiQCreports
wtdbg2
pb_279_filtered_subreads.fastq.gz
pb_320-2_filtered_subreads.fastq.gz
racon
genome_assemblies
unzipped
canuAssembly
flyeAssembly
miniasmAssembly
ravenAssembly
spadesAssembly
wtdbg2Assembly
